= form_for @activity, builder: BootstrapFormBuilder do |f|
  .row
    = f.errors
  
    = f.label t('labels.name')
    = f.text_field :name
  
    = f.label t('labels.description')
    = f.text_field :description

    .offset-8.col-2
      = link_to t("accions.back"), activities_path, class: "btn btn-secondary btn-block"
    .col-2
      = f.submit t("accions.save"), class:"btn-block "